body{
    overflow-x: hidden;
}
.top{
    background-image: url("/image/backgrounds/h_img.jpg");
    height: 80vh;
    width: 100%;
    padding: 14%;
    }
    .top h1{
        text-align: center;
        color:white;
    }
    h2{
        text-align: center;
        color: white;
        font-size: 20px;
    }
    h1{
        text-align: center;
    }
    .about{
        text-align: center;
        font-size:large;
    }
    .service{
        background-image: url("/image/backgrounds/s_image.jpg");
        text-align: center;
        font-size: larger;
        color:whitesmoke;
        height: 30vh;
        font-family: 'Courgette';
    }
    .service h1{
    color: white;
    }
    .brand h1{
    font-size: medium;
    }
    .brand p{
       display: none; 
    }
    .dev p{
      display: none;  
    }
    .product p{
        display: none;
    }
    
    .row img{
       padding: 5%; 
       
    
   
    }
  
    .con{
        background-image: url("/image/backgrounds/c_image.jpg");
    
    }
  

    .con h1{
        padding-top: 40px;
        color:white;
    }
    .form{
        text-align: center;
    }
    .text{
     text-align: center;
     margin-top: 40px; 
     height: 50vh  
     
    }
    #name{
    width: 25%;
    border-radius: 5px;
    background: none;
    color: white;
    }
    #email{
        width: 25%;
        margin-left: 3%;
        border-radius: 5px;
        background: none;
        color: white;
    
    }
    #msg{
        height: 50%;
        width: 55%;
        border-radius: 5px;
        background: none;
        color: white;
    }
    #btn{
        
        padding-bottom:5%;
        text-align: center;
    }
    
    .social{
        text-align: center;
        padding-bottom:0%;
    }
    footer{
        text-align:center ;
      
    }
    .footer h4{
        font-size: small;
    }
    .view{
     padding: 15%;   
    }
    #image{
        text-align: center;
    }
    #mouce{
        text-align: center;
        padding: 13%;
    }
    .move{
        /* position:relative; */
        padding:0;
        width:300px;
        display:block;
        cursor:pointer;
        overflow:hidden;
        }
    /* #one{
        opacity: 0.5;
    } */
    .next{
        position: absolute;
        top: 50%;
        left: 50%;
        color:white;
        transform: translate(-50% ,-50%);
        border: 5px solid gray;
        display: none;
        border-radius: 15px;
    
    }
    #one:hover {
        position: relative;
        opacity: 0.8;
    }
    #two:hover {
        position: relative;
        opacity: 0.8;
    }
    #three:hover {
        position: relative;
        opacity: 0.8;
    }
    #four:hover {
        position: relative;
        opacity: 0.8;
    }
    #five:hover {
        position: relative;
        opacity: 0.8;
    }
    #six:hover {
        position: relative;
        opacity: 0.8;
    }
    #seven:hover {
        position: relative;
        opacity: 0.8;
    }
    #eight:hover {
        position: relative;
        opacity: 0.8;
        color: turquoise;
    }